<div class="boxed">

  <h2>DP Material Library</h2>

  <p>This library was created to simplify some features of the @angular/material library and add a few useful options.</p>

  <div>

    <code>
      Usage: {{ contactTableCode }}
    </code>

  </div>

  <div>

    <button (click)="mobile = !mobile">
      Toggle Mobile (hack)
    </button>

  </div>

  <dp-table
    [data]="contacts"
    [columns]="columns"
    [mobileColumns]="mobileColumns"
    [mobile]="mobile"
  >

    <ng-container *dpCellDef="let row;column:'name'">
      Sup, {{row.name}}!
    </ng-container>

    <ng-container *dpCellDef="let row;column:'phone'">
      {{row.phone}} #ringring
    </ng-container>

  </dp-table>

  <router-outlet></router-outlet>

</div>
