<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="boxed">

  <h2>DP Material Library</h2>

  <p>This library was created to simplify some features of the @angular/material library and add a few useful options.</p>

  <code>
    Usage: {{ contactTableCode }}
  </code>

  <dp-table [columns]="columns" [data]="contacts"></dp-table>

  <router-outlet></router-outlet>

</div>
